header{
    background-color: darkslateblue;
    padding-top: 3%;
    padding-bottom: 3%
}
h1{
    text-align: center;
    color: whitesmoke;
}
h2{
    text-align: center;
    margin-top: 5%;
}
.buttonRow{
    margin-top: 5%;
}
#startTimer{
    width: 100%;
    text-align: center;
}
#startBtn{
    width: 40%;
}
#scoreBtn{
    width: 40%;
}
.answer{
    width: 30%;
}
footer {

    position: absolute;
    bottom: 0;
    width: 100%;

    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: darkslateblue;
    color: gainsboro;
}